.todayProgress {
  background: #4c1d95;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.75rem 1rem;
  max-width: 50rem;
  color: #ded7fe;
}

.progressChild {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.progressTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 40rem) {
  .progressChild {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .progressTitle {
    font-size: 0.75rem;
  }
}
