.todayProgress {
  background: #4c1d95;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.75rem 1rem;
  max-width: 50rem;
  color: #ded7fe;
}

.remaining,
.worked,
.withoutBreak {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 40rem) {
  .progressTitle {
    display: none;
  }
}
