.iconButtonContainer {
  display: flex;
  position: relative;
}

.iconButton {
  background: transparent;
  /* padding: 0.25rem 0.75rem; */
  color: black;
  text-align: center;
  border-radius: 0.75rem;
  font-size: 1rem;
  transition: all 0.3s ease-in;
}

.iconButton:hover {
  transform: scale(1.2);
}
