.note {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 1rem 1.5rem;
  justify-content: space-between;
}

.noteTitle {
  display: flex;
  font-size: 0.875rem;
  width: 100%;
  font-weight: 300;
  align-items: center;
  flex-direction: row;
  gap: 0.25rem;
}
.noteDescription {
  display: flex;
  flex-direction: column;
}

.projectTitle {
  background: #6d28d9;
  padding: 0.125rem;
  border-radius: 8px;
  color: #ddd6fe;
  font-size: 0.625rem;
}
.noteActions {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
