.tasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.25rem;
}

.taskTitleAndPlay {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
}

.taskTitleAndPlay p {
  padding-bottom: 4px;
}

.currentTask {
  border-bottom: 1px solid #6d28d9;
}
.priamryIcon {
  color: #6d28d9;
}

.taskDuration {
  padding: 0 0.25rem;
  display: flex;
  text-align: center;
  font-size: 0.75rem;
  gap: 1px;
}

.taskTitle {
  word-wrap: break-word;
}

@media (max-width: 40rem) {
  .tasks {
    padding: 0.25rem 1.25rem;
  }
}
